*{
    margin:0px;
    padding:0px;
    font-family: "Inter" ,sans-serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    margin: 10px 8%;
    align-items: center;
    
}
.navbar-container{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.navbar-container a{
    color:gray;
    text-decoration: none;   
}
.navbar-button{
    background-color:#2563eb;
    border-radius: 8px;
    border:none;
    height: 30px;
    width: 120px;
}
.navbar-button a{
    text-decoration: none;
    color:aliceblue;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/banner.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    

}
.banner{
    color:white;
    display: grid;
    gap: 10px;
}
.banner h1{
    padding-top: 80px;
    text-align: center;
    font-size: 48px;
}
.banner p{
    text-align: center;
    font-size: 12px;
    height: 230px;
    padding : 10px;
    
}
.banner-button{
    width: 15%;
    margin-left: 43%;
    background-color:#1D4ED8;
    border:none;
    border-radius: 8px;
    padding: 10px;
    
    
}
.banner-button a{
    text-decoration: none;
    color:aliceblue;   
}

.About {
    padding: 80px 20px;
    background-color: #f8f9fa;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.About h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: #000;
}


.About-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.speaker-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.speaker-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}


.Information {
    padding: 20px;
}

.p1 {
    color: dodgerblue;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Information h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
}

.p2 {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}


.pricing-section {
    background-color: #f5f5f5;
    padding: 50px 55px;
    text-align: center;
}


.section-title {
    font-size: 48px;
    margin-bottom: 10px;
}


.section-text {
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 300;
}
